NODE_ENV=development
TZ=Europe/Berlin
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=faizan_employer_intelligence
PGUSER=faizan_dashboard
PGPASSWORD=replace_with_a_unique_password
PGCONNECT_TIMEOUT_MS=5000
DASHBOARD_USERNAME=faizan
DASHBOARD_PASSWORD=replace_with_a_long_unique_password
